.Header {
  background-color: var(--primary);
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: var(--text-secondary);
  display: flex;  
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  z-index: 300;
}

/* TOP */
.Top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 0 0 20px;
  width: 184px;
  height: 116px;
  position: relative;
  left: 0;
}

.Top > a {
  width: 48px;
  height: 48px;
  z-index: 2;
}

.Top > a > svg {
  width: 100%;
  height: 100%;
  fill: var(--text-secondary);
}

.Top > svg {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 272px;
  z-index: 1;
}

.Top > svg > path {
  fill: var(--text-info);
  stroke: var(--text-info);
}

/* Content */

.text {
  width: 100%;
  max-width: 750px;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  z-index: 2;
}

.Span {
  color: var(--text-info);
}

.imgLeo {
  height: 85vh;
  position: absolute;
  right: -10px;
  bottom: 0;
  z-index: 1;
}

.box {
  width: 310px;
  height: 55px;
  position: relative;
}

.box > h2 {
  color: var(--text-info);
  position: absolute;
}

.arrowNext {
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  top: 85vh;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 305;
}

.arrowNext > svg {
  transition: all 1s linear;
  animation: 3.5s arrowNextAnimation linear infinite;
  cursor: pointer;
}

@keyframes arrowNextAnimation {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    transform: translateY(0);
    opacity: 1;
  }

  95% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .text {
    max-width: 480px;
  }

  .text > h1 {
    font-size: 38px;
  }

  .box > h2 {
    font-size: 34px;
  }
}

@media (max-width: 912px) {
  .imgLeo {
    height: 85vh;
    right: -80px;
  }
}

@media (max-width: 820px) {
  .imgLeo {
    height: 80vh;
    right: -70px;
  }
}

@media (max-width: 540px) {
  .text {
    max-width: 330px;
  }

  .text > h1 {
    font-size: 32px;
  }

  .box > h2 {
    font-size: 28px;
  }
}

@media (max-width: 425px) {
  .text {
    top: calc(50% + 160px);
  }
}

@media (max-width: 400px) {
  .text {
    top: calc(50% + 140px);
  }

  .text > h1 {
    font-size: 23px;
  }

  .box > h2 {
    font-size: 19px;
  }
}