.ContactMe {
  background-color: var(--text-secondary);
  position: relative;
}

.ContactMe h2 {
  margin-bottom: 20px;
}

.box {
  position: relative;
  /* height: 600px; */
}

.box,
.boxContent > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.boxContent {
  position: relative;
  width: 100%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  padding: 20px;
  color: var(--text-secondary);
}

.boxContent > h3 {
  padding-bottom: 20px;
}

.boxContent > p {
  padding-bottom: 40px;
  text-align: justify;
}

.boxContent > form {
  justify-content: center;
}

.boxContent > form label {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
  width: 100%;
}

.boxContent > form span {
  position: absolute;
  bottom: 20px;
  color: var(--text-secondary);
}

.boxContent > form input,
.boxContent > form textarea {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding: 6px 12px;
}

.boxContent > form input {
  padding: 6px 30px 6px 12px;
}

.boxContent > form input[type='submit'] {
  padding: 0;
}

.boxContent > form label > svg {
  width: 24px;
  position: absolute;
  top: 10px;
  right: 0;
}

.boxContent > form textarea {
  height: 134px;
  resize: none;
}

.ContactMe > svg {
  position: absolute;
  width: 55%;
  top: -50%;
  right: -20%;
}

@media (max-width: 998px) {
  .ContactMe > svg {
    top: -40%;
  }
}

@media (max-width: 767px) {
  .ContactMe > svg {
    top: -35%;
  }
}

@media (max-width: 650px) {
  .ContactMe > svg {
    top: -28%;
  }
}

@media (max-width: 540px) {
  .ContactMe > svg {
    top: -21%;
  }
}

@media (max-width: 475px) {
  .ContactMe > svg {
    top: -16%;
  }
}

@media (max-width: 375px) {
  .ContactMe > svg {
    top: -10%;
  }
}